@{
    ViewBag.Title = "Ajustes";
    Layout = "~/Views/MasterPage.cshtml";
}
<section>
    <h1>Ajustes</h1>
    <div class="col-md-12">
        <div class="card tabs-left style-default-light">
            <ul class="card-head nav nav-tabs" data-toggle="tabs">
                <li class="active"><a href="#second5">Seguridad</a></li>
            </ul>
            <div class="card-body tab-content style-default-bright">
               
                <div class="tab-pane active" id="second5">
                    <h1><i class="fa fa-fw md-security text-accent"></i> Seguridad</h1>                    
                    <!--Contenido-->
                    <form class="form" method="post" action="ActualizarPass" name="valida">
                        <div class="row">
                            <div class="form-group has-warning col-lg-offset-1">
                                <input type="password" class="form-control" id="warning7" name="passactual">
                                <label for="warning7">CONTRASEÑA ACTUAL</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success col-lg-offset-1">
                                <input type="password" class="form-control" name="pass1">
                                <label for="success7">CONTRASEÑA NUEVA</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success col-lg-offset-1">
                                <input type="password" class="form-control" name="pass2">
                                <label for="success7">REPETIR CONTRASEÑA NUEVA</label>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="form-group has-success col-lg-offset-1">
                                <button class="btn ink-reaction btn-raised btn-primary" type="submit" onclick="return validartext()">Cambiar contraseña</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group has-success col-lg-offset-1" id="mensaje">
                            </div>
                            <div class="form-group has-success col-lg-offset-1">
                                @{if (ViewBag.message != null)
                                {
                                    if (ViewBag.terror == 2)
                                    {
                                        <div class="alert alert-callout alert-danger">
                                            <strong>¡Oh no!</strong>

                                            @ViewBag.message
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-callout alert-success">
                                            <strong>¡Bien!</strong>
                                            @ViewBag.message
                                        </div>
                                    }
                                }}
                            </div>
                        </div>
                        
                            
                        
                    </form>                   
                    <blockquote>
                        <p>
                            Es aconsejable cambiar las contraseñas de manera periódica, como también considerar de no llevar menos de 8
                            caractéres y que estos se conbinen entre letras mayúsculas y minúsculas, símbolos y números. Todo ello con el propósito
                            de mantener a salvo la información que usted maneja.
                        </p>
                        <footer>Equipo de tecnologías de la información.</footer>
                    </blockquote>
                    <!--Contenido: Fin-->
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function validartext() {
        nuevapass = document.valida.pass1.value
        confnuevapass = document.valida.pass2.value
        if (nuevapass == confnuevapass)
            return true
        else
            mensaje = '<div class="alert alert-callout alert-danger"><strong>¡Oh no!</strong> Las contraseñas no coinciden.</div>'
        $("#mensaje").html(mensaje)
        return false
    }
</script>