@{
    ViewBag.Title = "Ajustes";
    Layout = "~/Views/MasterPage.cshtml";
}
 

<script type="text/javascript">
    function validartext(){
        nuevapass = document.valida.pass1.value
        confnuevapass = document.valida.pass2.value
        if (nuevapass == confnuevapass)
            return true
        else
            mensaje = '<div class="alert alert-danger">Las contraseñas no Coinciden</div>'
            $("#mensaje").html(mensaje)
        return false
    }
</script>

<section>
    <div class="section-body">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <article class="margin-bottom-xxl">
                    <p>
                        @if (ViewBag.message != null)
                        {
                            if (ViewBag.terror == 2) {
                                <div class="alert alert-danger">
                                    @ViewBag.message
                                </div>
                            }
                            else{
                                <div class="alert alert-success">
                                    @ViewBag.message
                                </div>
                            }
                        }
                    </p>
                </article>
            </div><!--end .col -->
            <div class="col-lg-offset-1 col-lg-8">
                <div class="panel-group" id="accordion1">

                    <div class="card panel">
                        <div class="card-head collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-1">
                            <header>Contraseña</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordion1-1" class="collapse">
                            <div class="card-body">
                                <p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
                                <form class="form" method="post" action="ActualizarPass" name="valida">
                                    <div class="row">
                                        <div class="form-group has-warning col-lg-offset-1">
                                            <input type="password" class="form-control" id="warning7" name="passactual">
                                            <label for="warning7">CONTRASEÑA ACTUAL</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group has-success col-lg-offset-1">
                                            <input type="password" class="form-control" name="pass1">
                                            <label for="success7">CONTRASEÑA NUEVA</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group has-success col-lg-offset-1">
                                            <input type="password" class="form-control" name="pass2" >
                                            <label for="success7">REPETIR CONTRASEÑA NUEVA</label>
                                        </div>
                                    </div>   
                                    <div class="row">
                                            <div class="form-group has-success col-lg-offset-1" id="mensaje">
                                           </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group has-success col-lg-offset-1">
                                                <button class="btn ink-reaction btn-raised btn-primary" type="submit" onclick="return validartext()">Actualizar Contraseña</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--end .panel -->

                    <div class="card panel">
                        <div class="card-head collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-2">
                            <header>Temas</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordion1-2" class="collapse">
                            <div class="card-body">
                                <p>Usted cuenta con 6 combinaciones de colores. Pruebe haciendo clic en el esquema de color deseado.</p>
                                <div class="row theme-selector">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="theme-default" class="clearfix">
                                                <div class="card card-tiles card-outlined style-default-dark">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#0aa89e"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#9C27B0"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Default theme</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                        <div class="col-sm-4">
                                            <a href="theme-1" class="clearfix">
                                                <div class="card card-tiles ">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#2196F3"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#673AB7"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Theme 1</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                        <div class="col-sm-4">
                                            <a href="theme-2" class="clearfix">
                                                <div class="card card-tiles ">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#ff5722"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#2196F3"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Theme 2</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <a href="theme-3" class="clearfix">
                                                <div class="card card-tiles ">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#3f51b5"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#FFC107"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Theme 3</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                        <div class="col-sm-4">
                                            <a href="theme-4" class="clearfix">
                                                <div class="card card-tiles ">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#8BC34A"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#673AB7"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Theme 4</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                        <div class="col-sm-4">
                                            <a href="theme-5" class="clearfix">
                                                <div class="card card-tiles ">
                                                    <div class="row">
                                                        <div class="col-xs-8">
                                                            <div class="card-body height-1" style="background-color:#EB0038"></div>
                                                        </div>
                                                        <div class="col-xs-4">
                                                            <div class="card-body height-1" style="background-color:#607D8B"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body small-padding text-center">
                                                        <span class="text-default-dark">Theme 5</span>
                                                    </div>
                                                </div><!--end .card -->
                                            </a>
                                        </div><!--end .col -->
                                    </div><!--end .row -->
                                </div>
                            </div>
                        </div>
                    </div><!--end .panel -->

                    <div class="card panel">
                        <div class="card-head collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-3">
                            <header>Barra de menús y Cabecera</header>
                            <div class="tools">
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div id="accordion1-3" class="collapse">
                            <div class="card-body">
                                <p>Cada combinación de colores tiene tanto un color oscuro, una barra de título y un menú ligero.</p>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="radio radio-styled">
                                                <label>
                                                    <input type="radio" name="headerInversed" value="0" checked>
                                                    <span>Light header</span>
                                                </label>
                                            </div>
                                            <div class="radio radio-styled">
                                                <label>
                                                    <input type="radio" name="headerInversed" value="1">
                                                    <span>Dark header</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!--end .card -->
                                </div><!--end .col -->
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="radio radio-styled">
                                                <label>
                                                    <input type="radio" name="menubarInversed" value="0">
                                                    <span>Light menubar</span>
                                                </label>
                                            </div>
                                            <div class="radio radio-styled">
                                                <label>
                                                    <input type="radio" name="menubarInversed" value="1" checked>
                                                    <span>Dark menubar</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div><!--end .card -->

                                </div><!--end .col -->
                            </div>
                        </div>
                    </div><!--end .panel -->

                </div><!--end .panel-group -->
            </div><!--end .col -->
        </div><!--end .row -->
        <!-- END THEMES -->
    </div>
</section>

