@{
    ViewBag.Title = "RegistroVenta";
    Layout = "~/Views/MasterPage.cshtml";
}

<div class="col-lg-12">
    <form class="form-horizontal">
        <div class="card">
            <div class="card-head style-primary">
                <header>Datos Cliente</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">TELEFONO</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="readonly5" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-1 control-label">CLIENTE</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control" id="readonly5" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">DOCUMENTO</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="readonly5" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-2 control-label">DIRECCION</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="readonly5" readonly>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-2 control-label">PRODUCTO</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="readonly5" readonly>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Lastname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Lastname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="Lastname5" class="col-sm-4 control-label">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Lastname5">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card-body -->            
        </div><!--end .card -->
    </form>
</div>

<div class="col-lg-4">
    <form class="form-horizontal">
        <div class="card">
            <div class="card-head style-primary">
                <header>Accion Comercial - Arbol</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <div>
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div >
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </form>
</div>

<div class="col-lg-8">
    <form class="form-horizontal">
        <div class="card">
            <div class="card-head style-primary">
                <header>Registro Venta</header>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div >
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Firstname5" class="col-sm-4 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Firstname5">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </form>
</div>
