@using System.Data;
@using CapaEntidades;
<div class="card card-outlined style-info">
    <section>
        <br />
        <div class="form-group">
            @{List<entUsuario> ListaAseXSup = ViewBag.ListaAseXSup;}
            <select id="cboAseVen" name="txt_aseven" class="form-control" required>
                <option value="">&nbsp;</option>
                @foreach (entUsuario av in ListaAseXSup)
            {
                    <option value="@av.Usu_Id">@av.Persona.NombreCompleto</option>
                }
            </select>
            <label>Asesor de Ventas</label>
        </div>
    </section>
</div>
<script type="text/javascript">
    $("#cboAseVen").change(function () {
        $("#ClientesContent").load('ShowDataClientesSinAsignar')
    });
</script>
