@{
    ViewBag.Title = "PrincipalAdministrador";
    Layout = "~/Views/MasterPage.cshtml";
}



<!-- BEGIN BLANK SECTION -->
<section>
    <div class="section-body">
        <div class="card">
            <div class="card-body">

                <h2>PrincipalAdministrador</h2>

            </div><!--end .card-body -->
        </div>
    </div><!--end .section-body -->
</section>