@{
    ViewBag.Title = "PrincipalSupervisorCampo";
    Layout = "~/Views/MasterPage.cshtml";
}

<section>
    <div class="section-body">
        <div class="card">
            <div class="card-body">

                <h2>Principal Supervisor Campo</h2>

            </div><!--end .card-body -->
        </div>
    </div><!--end .section-body -->
</section>
