@{
    ViewBag.Title = "PrincipalSupervisorVentas";
    Layout = "~/Views/MasterPage.cshtml";
}



<!-- BEGIN BLANK SECTION -->
<section>
    <div class="section-body">
        <div class="card">
            <div class="card-body">

                <h2>Principal Supervisor Ventas</h2>
                <br />
                <img src="~/assets/img/superventas.jpg"  class="img-responsive"/>

                <div class="form-group">
                    <div id="Mapa" class="contenedor-Registro" style="height:400px">
                    </div>
                    <input type="hidden" name="txtCordenadaX" />
                    <input type="hidden" name="txtCoordenadaY" />
                </div>
            </div><!--end .card-body -->
        </div>
    </div><!--end .section-body -->
</section>
