
<form method="post" action="ExtraerDatosAsignarSession">

    <div id="content">
        <section>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table style="overflow-x:auto">
                                    <tr style="background-color:darkgray">
                                        <td>Telefono</td>
                                        <td>Cliente</td>
                                        <td>F1</td>
                                        <td>F2</td>
                                        <td>F3</td>
                                        <td>SVA</td>
                                        <td>INICIO VIGENCIA</td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" name="telefono"></td>
                                        <td><input type="text" name="cliente"></td>
                                        <td><input type="text" name="f1"></td>
                                        <td><input type="text" name="f2"></td>
                                        <td><input type="text" name="f3"></td>
                                        <td><input type="text" name="sva"></td>
                                        <td><input type="text" name="iniciovigencia"></td>
                                    </tr>
                                </table>
                            </div>
                            </div>
                            <br />
                            <input type="submit" class="btn btn-block ink-reaction btn-primary-light" name="agregar" value="Agregar">
                        </div>
                </div>
            </div>
          </section>
        </div>
</form>
