@{
    ViewBag.Title = "ExtraerDatosAsignar";
    Layout = "~/Views/MasterPage.cshtml";
}

<input id="Nuevo" type="button" value="Nuevo" />


<div id="MenuNuevo" title="Login">
    <form method="post">
        <table>
            <tr>
                <td>Usuario:</td>
                <td><input type="text" name="txtUsuario" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="txtPassword" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="btnIngresar" value="Ingresar" />
                    <input type="reset" value="Limpiar" />
                </td>
            </tr>
        </table>
    </form>
</div>




<div id="content">
<section>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--end .table-responsive -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
<!-- END RESPONSIVE TABLE 1 -->
</section>
</div>