@{
    ViewBag.Title = "PrincipalSupervisorCall";
    Layout = "~/Views/MasterPage.cshtml";
}




<!-- BEGIN BLANK SECTION -->
<section>
    <div class="section-body">
        <div class="card">
            <div class="card-body">

                <h2>Principal Supervisor Call</h2>
                <br />
                <img src="~/assets/img/super.jpg" class="img-responsive" />             
            </div><!--end .card-body -->
        </div>
    </div><!--end .section-body -->
</section>